/* MAIN-INSTRUMENT */
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
.main-instrument-title {
    font-family: 'League Gothic', sans-serif;
    font-size: nth($list:$font-side , $n:5 );
}
.flex_container {
    padding-top: 20px;
   @include flex_containe (flex,space-evenly,wrap)
}
.card {
    margin-bottom: 10px;
}
.card-img-top {
    height: 190px;
}
.card_title-piano {
    font-size: 15.69px;
}
