.loginMain{
    background-image: url(../img/tiendaDos.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 79.6vh;
    display: grid;
    align-items: center;
}